/*** COMMON ***/
:root {
  --font-suite: 'SUITE', 'Pretendard', 'Noto Sans KR', Apple Gothic,
    'sans-serif';
  --font-lineseed-Rg: 'LINESeedKR-Rg', 'Pretendard', 'Noto Sans KR',
    Apple Gothic, 'sans-serif';
  --font-lineseed-Bd: 'LINESeedKR-Bd', 'Pretendard', 'Noto Sans KR',
    Apple Gothic, 'sans-serif';

  --bxshadow-l: 1px 3px 12px rgba(0, 0, 0, 0.12);
  --bxshadow-m: 1px 3px 8px rgba(0, 0, 0, 0.12);
  --bxshadow-s: 1px 2px 6px rgba(0, 0, 0, 0.12);
  --bxshadow-l--inset: inset 1px 2px 6px rgba(0, 0, 0, 0.15);
  --bxshadow-s--inset: inset 1px 2px 4px rgba(0, 0, 0, 0.15);

  --color-primary: #696cff;
  --color-primary-hover: #5557e7;
  --color-primary-focus: #7b7df6;
  --color-secondary: #8592a3;
  --color-secondary-hover: #6a7a8f;
  --color-danger: #ea6f59;
  --color-danger-hover: #db5d47;

  --color-input-border: #d0d4d7;
  --color-ui-backcolor: #a6aeb4;
  --color-ui-hover-border: #9aafbe;

  --color-pass: rgb(99, 184, 128);
  --color-pass-hover: rgb(86, 171, 114);
  --color-standby: rgb(68, 151, 189);
  --color-reject: tomato;

  --color-link--default: #4eb0f6;
  --color-link--hover: #348bc9;
  --color-link--visited: rgb(163, 70, 138);
  --color-link--active: rgb(234, 205, 21);

  --color-bg: #f6f6f8;
  --color-bg--table: #e0e1fb;

  --color-line--normal: #e1e1e1;
  --color-line--input-default: #d0d4d7;
  --color-line--table: #e6e6fb;
}

/*** MAIN ***/
.wrapper {
  padding: 44px 54px 34px;
}

.page-top {
  margin-bottom: 24px;
}
.page-title {
  font-family: var(--font-lineseed-Rg);
  font-size: 22px;
  font-weight: 600;
}

.section-flex__wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  min-width: 960px;
}
#wrap.usersPage .section-flex__wrap {
  max-width: 1150px;
}
section.page-content {
  display: inline-block;
  min-width: 960px;
  margin-bottom: 24px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: var(--bxshadow-l);
}
section.page-content:last-child {
  margin-bottom: 0;
}
section.page-content#acountInfo {
  visibility: hidden;
}
.section-flex__wrap.d--2 section.page-content {
  width: 100%;
  min-width: unset;
  flex-shrink: 1;
}
section.page-content .section-title {
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: 600;
}
section.page-content .section__inner {
  padding: 24px 24px 26px;
}

.section--head {
  position: relative;
}
.section--head .section-util__wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  margin-bottom: 14px;
}
.section-util--left,
.section-util--right {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
}
.util__wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  height: 42px;
  /* padding: 4px 12px; */
  padding: 4px 6px 4px 12px;
  border-radius: 8px;
  background-color: #eeeef1;
}
.util__wrap:first-child {
  margin-left: 0;
}
.util__wrap.search-date__wrap {
  padding: 4px 6px;
}
.util__wrap .util-name {
  display: inline-block;
  position: relative;
  padding-right: 14px;
  margin-right: 3px;
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.04rem;
}
.util__wrap .util-name::after {
  content: '';
  display: block;
  position: absolute;
  top: 54%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 14px;
  background-color: #ddd;
}
.util__wrap .btn {
  height: 32px;
}
.util__wrap .btn > button,
.util__wrap .btn > a {
  line-height: 32px;
}
.util__wrap .btn.ty02 {
  background-color: #d0d0d5;
}
.util__wrap .btn.ty02:hover {
  background-color: #c5c5ca;
}
.downPage .btn#downJsonBtn {
  background-color: #d0d0d5;
  opacity: 0.95;
  cursor: default;
  pointer-events: none;
}
.downPage .btn#downJsonBtn.nowOn {
  background-color: var(--color-primary);
  opacity: 1;
  cursor: pointer;
  pointer-events: unset;
}
.downPage .btn#downJsonBtn.nowOn:hover {
  background-color: var(--color-primary-hover);
}
.util__wrap .util-input {
  display: inline-block;
}
.util__wrap .util-input input {
  line-height: 30px;
  border: 1px solid #fafafd;
  font-size: 13px;
  line-height: 30px;
}
.util__wrap .util-input input:hover,
.util__wrap .util-input input:focus {
  border: 1px solid var(--color-primary-focus);
}
.down-range-select__wrap .util-input input[type='number'] {
  width: 80px;
  padding-right: 10px;
  border-radius: 6px;
  text-align: right;
}
.util__wrap .util-input .label-middle {
  display: inline-block;
  margin: 0 2px;
}

.util__wrap .util-subs {
  padding: 0 10px;
  border-radius: 6px;
  border: 1px solid #fafafd;
  background-color: #fafafd;
  font-size: 13px;
  line-height: 30px;
}
.util__wrap .util-subs .doc-count--num {
  display: inline-block;
  padding: 0 3px;
  font-weight: 600;
}

.section--head .head-btn__wrap {
  position: absolute;
  top: -4px;
  right: 0;
}
.section--head .head-btn__wrap .btn > button {
  padding: 0 13px;
  line-height: 34px;
}
.section--body .divided__wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 54px;
}
.divided__wrap > .section-content {
  width: 100%;
  flex-shrink: 1;
}
.section-content > * {
  margin-bottom: 14px;
}
.section-content > *:last-child {
  margin-bottom: 0;
}

.content--table {
  width: 100%;
  table-layout: fixed;
}
.content--table th,
.content--table td {
  text-align: center;
  font-size: 13px;
  vertical-align: middle;
}
.content--table th {
  padding: 8px 8px;
  border: 1px solid var(--color-line--table);
  background-color: var(--color-bg--table);
  font-weight: 600;
  vertical-align: middle;
  white-space: nowrap;
}
.content--table th .select__wrap > select {
  padding-right: 0px;
  padding-left: 0px;
}
.content--table th .select__wrap > select + .select-icon {
  top: 80%;
  right: unset;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  background-size: 8px;
  background-position: center;
}
.content--table td {
  padding: 10px 8px;
  border: 1px solid var(--color-line--table);
  background-color: #fff;
  vertical-align: middle;
}
td.td--origin,
td.td--task {
  text-align: left;
}
td.nodata {
  text-align: center !important;
}
td,
td > .link-area {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
td > .link-area {
  display: inline-block;
  max-width: 100%;
  padding: 4px 8px;
  border-radius: 6px;
  text-decoration: underline;
  color: var(--color-link--default);
  vertical-align: middle;
  cursor: pointer;
}
td > .link-area:hover {
  background-color: #f6f6f8;
  color: var(--color-link--hover);
}

/** MAIN -> CHAT_CHK **/
/* MAIN -> CHAT_CHK -> 작업 정보 */
.flex__list {
  display: flex;
  gap: 14px;
}
.flex__list .flex__item {
  display: flex;
  flex-wrap: nowrap;
  padding: 8px 14px;
  border-radius: 12px;
  background-color: #f4f4f7;
  box-shadow: var(--bxshadow-s--inset);
}
.flex__list .flex__item > span {
  display: block;
  white-space: nowrap;
}
.flex__list .flex__item .item-name,
.input-info__list .input-info__item .item-name {
  position: relative;
  padding: 2px 18px 2px 8px;
  font-weight: 500;
  text-align: center;
  color: #777;
}
.flex__list .flex__item .item-name::after,
.input-info__list .input-info__item .item-name::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 14px;
  background-color: #ccc;
}
.flex__list .flex__item .item-subs {
  padding: 2px 14px 2px 18px;
  text-align: center;
}

.input-info__list .input-info__item {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  max-width: 960px;
  padding: 8px 14px;
  margin-bottom: 14px;
  border-radius: 12px;
  background-color: #f4f4f7;
  box-shadow: var(--bxshadow-s--inset);
}
.input-info__list .input-info__item:last-child {
  margin-bottom: 0;
}
.input-info__list .input-info__item .item-name {
  margin-top: 6px;
  min-width: 140px;
  white-space: nowrap;
  color: #414141;
}
.input-info__item .input-label {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 0px 14px 0px 18px;
}
.flex__item .input-label {
  padding: 0px 12px 0px 16px;
}
.flex__item .input-label > input[type='text'],
.input-info__item .input-label > input[type='text'],
.input-info__item .input-label > input[type='number'],
.input-info__item .input-label > input[type='password'],
.input-info__item .input-label > textarea {
  width: 100%;
  padding: 0 14px;
  border-radius: 8px;
  border: none;
  background-color: #e7e7ea;
  line-height: 2.6;
  white-space: nowrap;
  text-overflow: ellipsis;
  resize: vertical;
}
.flex__item .input-label > input[type='text'] {
  line-height: 1.8;
}
.input-info__item .input-label > textarea {
  padding: 8px 14px;
  line-height: 1.4;
  white-space: unset;
  text-overflow: unset;
}
.input-info__item.with--btn .input-label > input {
  /* width: calc(100% - 52px); */
  width: calc(100% - 124px);
}
.input-info__item .input-label > input:focus {
  outline: auto;
}
.input-info__item .input-label > input::placeholder,
.input-info__item .input-label > textarea::placeholder {
  color: #999;
}
.input-info__item .input-label > .btn {
  position: absolute;
  top: 50%;
  right: 72px;
  transform: translateY(-50%);
  background-color: var(--color-primary);
}
.input-info__item .input-label > .btn.ty-2nd {
  right: 0px;
}
.input-info__item .input-label > .btn:hover {
  background-color: var(--color-primary-hover);
}
.input-info__item .input-label > .btn > button {
  line-height: 2.6;
  padding: 0 18px;
  color: #fff;
}

/* MAIN -> CHAT_CHK -> 작업 내용 */
.page-content.TaskContents {
  max-width: 1200px;
}
.section-body.chatBox .content__wrap {
  display: flex;
  flex-wrap: nowrap;
  gap: 44px;
}
#chatOrigin {
  width: 35%;
}
#chatGpt {
  width: 65%;
}
.chat__box {
  position: relative;
  border-radius: 14px;
  background-color: #f4f4f7;
  overflow: hidden;
}
#chatGpt .chat__box {
  background-color: #eaeaed;
  background-color: #e7e7ea;
}
.chat__box .origin__inner,
.chat__box .box__inner {
  position: relative;
  max-height: 800px;
  padding: 20px;
  overflow-y: auto;
}
.chat__box .box__inner {
  padding-right: 58px;
}
.chat__box::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 14px;
  box-shadow: var(--bxshadow-l--inset);
  pointer-events: none;
}
.chat__box .origin__inner::-webkit-scrollbar-track,
.chat__box .box__inner::-webkit-scrollbar-track {
  border: none;
  background-color: #f4f4f7;
}
.chat__box .chat__list {
  position: relative;
  width: 100%;
  min-height: 480px;
  padding-bottom: 80px;
}
.chat__box .chat__item {
  margin-bottom: 14px;
}
.chat__box .chat__item.add {
  margin-bottom: 0;
}
.chat__item .chat__inner {
  padding: 14px 16px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: var(--bxshadow-m);
}
#chatOrigin .chat__item .chat__inner {
  background-color: #fefeff;
  color: #616161;
  word-break: keep-all;
}
#chatOrigin .chat__item .speaker {
  display: block;
  padding-bottom: 6px;
  margin-bottom: 6px;
  border-bottom: 1px solid #ddd;
  font-weight: 600;
  color: #616161;
}
#chatGpt .chat__box .chat__item {
  display: flex;
  flex-wrap: nowrap;
  gap: 14px;
}
#chatGpt .chat__item .chat__inner {
  position: relative;
  width: 100%;
  height: inherit;
  border-radius: 0 12px 12px 12px;
}
#chatGpt .chat__item.gpt .chat__inner {
  background-color: #ebebfd;
}
#chatGpt .chat__item .chat--icon {
  position: relative;
}
#chatGpt .chat__item .chat--icon > .icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url('../img/icon/icon-ai.svg');
  background-repeat: no-repeat;
  background-size: 74%;
  background-position: center;
  box-shadow: var(--bxshadow-s);
}
#chatGpt .chat__item.human .chat--icon > .icon {
  background-image: url('../img/icon/icon-human.svg');
}
#chatGpt .chat__item.gpt .chat--icon > .icon {
  background-image: url('../img/icon/icon-ai.svg');
}
#chatGpt .chat__item .chat--icon > .icon--cls {
  display: block;
  position: absolute;
  top: 36px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url('../img/icon/icon-cls.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  transition: 0.3s ease-out;
}
#chatGpt .chat__item:hover .chat--icon > .icon--cls {
  top: 20px;
  opacity: 1;
  pointer-events: unset;
}
#chatGpt .chat__item:hover .chat--icon > .icon--cls:hover {
  background-image: url('../img/icon/icon-cls-hover.svg');
}
#chatGpt .chat__item .chat--txt {
  display: block;
  width: 100%;
  height: inherit;
  background-color: transparent;
  border: none;
  resize: vertical;
}
#chatGpt .chat__item.add {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 14px;
  border-radius: 14px;
  background-color: #fff;
  box-shadow: var(--bxshadow-m);
  z-index: 50;
}
#chatGpt .chat__item.add.del {
  display: none;
}
#chatGpt .chat__item.add .add-chat {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 14px;
  width: 100%;
}
#chatGpt .chat__item.add .add-chat .chat--icon > .icon {
  border: 1px solid #ddd;
  box-shadow: none;
}
#chatGpt .chat__item.add.gpt .add-chat .chat--icon > .icon {
  background-image: url('../img/icon/icon-ai.svg');
}
#chatGpt .chat__item.add.human .add-chat .chat--icon > .icon {
  background-image: url('../img/icon/icon-human.svg');
}
#chatGpt .chat__item.add .add-chat textarea {
  max-height: 250px;
  padding: 4px 8px;
  border-radius: 8px;
  border: 1px solid var(--color-input-border);
}

#chatGpt .chat__item .added-link__wrap {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 14px;
  padding: 8px 8px;
  margin-top: 8px;
  border-radius: 10px;
  background-color: #e7e7f3;
  box-shadow: var(--bxshadow-s--inset);
}
#chatGpt .chat__item.human .added-link__wrap {
  background-color: #f4f4f7;
}
#chatGpt .chat__item .added-link__wrap .wrap-name {
  position: relative;
  width: 90px;
  margin-top: 6px;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
}
#chatGpt .chat__item .added-link__wrap .wrap-name::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background-color: #ccc;
}
#chatGpt .chat__item .added-link__wrap .input__list {
  width: 100%;
}
#chatGpt .chat__item .added-link__wrap .input__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}
#chatGpt .chat__item .added-link__wrap .input__item:last-child {
  margin-bottom: 0;
}
#chatGpt .chat__item .added-link__wrap .input__item input {
  width: 100%;
  padding: 0 14px;
  border-radius: 8px;
  border: none;
  background-color: #e0e0ea;
  font-size: 12px;
  line-height: 2.5;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#chatGpt .chat__item.human .added-link__wrap .input__item input {
  background-color: #e7e7ea;
}
.chat__item .btn.btn--icon {
  height: 22px;
}
.chat__item .btn.btn--icon > button,
.chat__item .btn.btn--icon > label > input {
  width: 22px;
  height: 22px;
  padding: 0;
  margin: 0;
  line-height: 22px;
}
.chat__item .btn.btn--del-input > button {
  text-indent: -99999px;
  background-image: url('../img/icon/icon-x-o.svg');
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
}
.chat__item .btn.btn--del-input:hover > button {
  background-image: url('../img/icon/icon-x-o-hover.svg');
}

#chatGpt .chat__item .side-btn__wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 8px;
  position: absolute;
  top: 0;
  left: calc(100% + 8px);
  padding: 8px 6px;
  border-radius: 12px;
  background-color: #ebebfd;
  box-shadow: var(--bxshadow-m);
}
#chatGpt .chat__item.human .side-btn__wrap {
  background-color: #fff;
}
.chat__item .input__item .btn.btn--icon {
  height: 22px;
  margin-left: 2px;
  cursor: pointer;
}
.chat__item .btn.btn--icon {
  position: relative;
}
.chat__item .btn.btn--icon > label {
  display: inline-block;
  height: 22px;
}
.chat__item .btn.btn--icon > label > input {
  display: inline-block;
}
.chat__item .btn.btn--icon:hover {
  box-shadow: unset;
}
.chat__item .btn.btn--chk-changed > label > input {
  display: none;
}
.chat__item .btn.btn--chk-changed > label > input + .input-label {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-image: url('../img/icon/icon-checkbox-line-default.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 19px;
  cursor: pointer;
}
.chat__item .btn.btn--chk-changed:hover > label > input + .input-label {
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.1));
}
.chat__item .btn.btn--chk-changed > label > input:checked + .input-label {
  background-image: url('../img/icon/icon-check-line-checked.svg');
}
.chat__item .btn.btn--add-item > button {
  background-image: url('../img/icon/icon-add-link.svg');
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: center;
  text-indent: -99999px;
}
.chat__item .btn.btn--add-item:hover > button {
  background-image: url('../img/icon/icon-add-link-hover.svg');
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.1));
}
.chat__item .btn.btn--icon .btn-name {
  display: none;
  position: absolute;
  top: 0;
  right: calc(100% + 6px);
  padding: 8px 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: var(--bxshadow-s);
  font-size: 13px;
  font-weight: 500;
  color: #616164;
  white-space: nowrap;
}
.chat__item .btn.btn--icon:hover .btn-name {
  display: block;
}

/* MAIN -> CHAT_CHK page -> 대화주제, 답변유형 */
.page-content.TaskType .content__wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 44px;
}
.page-content.TaskType .content__wrap > .section-content {
  width: 50%;
  padding: 8px 14px;
  border-radius: 12px;
  background-color: #f4f4f7;
  box-shadow: var(--bxshadow-l--inset);
  overflow: hidden;
}
.content__wrap .chk-list__box {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}
.chk-list__box .list--name {
  position: relative;
  min-width: 100px;
  padding: 2px 18px 2px 8px;
  margin-top: 6px;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  color: #414141;
}
.chk-list__box .list--name::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 14px;
  background-color: #ccc;
}
.chk-list__box .chk__list {
  position: relative;
  width: 100%;
  padding-top: 9px;
  padding-left: 12px;
  margin-bottom: 14px;
  margin-left: 14px;
}
.chk-list__box .chk__item {
  margin-bottom: 6px;
  cursor: pointer;
}
.chk-list__box .chk__item .input-label {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 4px;
}
.chk-list__box .chk__item:last-child {
  margin-bottom: 0;
}
.chk-list__box .chk__item .input-label > input[type='checkbox'] {
  margin-top: 2px;
}
.chk-list__box .chk__item .input-label .label-txt {
  display: flex;
  flex-wrap: nowrap;
}
.chk-list__box .chk__item .input-label .txt--name {
  display: inline-block;
  position: relative;
  padding-right: 14px;
  margin-right: 13px;
  font-weight: 500;
}
.chk-list__box .chk__item .input-label .txt--name::after {
  content: '';
  display: block;
  position: absolute;
  /* top: 50%; */
  top: 5px;
  right: 0;
  /* transform: translateY(-50%); */
  width: 1px;
  height: 8px;
  background-color: #ccc;
}
.chk-list__box .chk__item .input-label .txt--subs {
  display: inline-block;
  padding-top: 2px;
  font-size: 13px;
}
.chk-list__box .chk__item.item--other .label-txt {
  width: 100%;
}
.chk-list__box
  .chk__item.item--other
  .input-label
  .txt--subs
  > input[type='text'] {
  display: block;
  width: calc(100% - 14px);
  padding: 0 14px;
  margin-top: 6px;
  border-radius: 8px;
  border: none;
  background-color: #e7e7ea;
  line-height: 1.8;
  white-space: nowrap;
  text-overflow: ellipsis;
  resize: vertical;
}

.input-info__item .input__wrap {
  width: 100%;
}
.input-info__item .input__box {
  display: block;
  width: 100%;
}
.input-info__item .input__box + .box-opener {
  width: 100%;
}
.input-info__item .pick__item {
  position: relative;
  padding-top: 9px;
  padding-left: 12px;
  margin-bottom: 14px;
  margin-left: 14px;
}
.input-info__item .pick__item > .btn--reset {
  position: absolute;
  top: 8px;
  right: 14px;
}
.input-info__item .pick__item .input-label {
  padding-left: 0;
}
.pick__item .item-title {
  margin-bottom: 6px;
  font-size: 15px;
  font-weight: 500;
}
.pick__item .pick-input__wrap .input-label {
  margin-bottom: 4px;
  cursor: pointer;
}
.pick__item .pick-input__wrap .input-label:last-child {
  margin-bottom: 0;
}
.input-info__item .input__wrap .input-label {
  display: block;
  width: 100%;
}

/* MAIN -> STATUS -> 유틸 랩 */
.page-content.status table td {
  padding-right: 18px;
  text-align: right;
}
.page-content.status table td.td--name {
  text-align: center;
}

/** MAIN -> STATUS **/
/* .section-content .content-title__wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 34px 0 24px;
}
.content-title__wrap .content-title {
  font-size: 18px;
  font-weight: 600;
}
.divided__wrap .content__box {
  position: relative;
  border-radius: 14px;
  background-color: #f4f4f7;
  overflow: hidden;
}
.divided__wrap .content__box::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 14px;
  box-shadow: var(--bxshadow-l--inset);
  pointer-events: none;
}
.divided__wrap .box__inner {
  position: relative;
  max-height: 640px;
  padding: 24px;
  overflow-y: auto;
}
.divided__wrap .content__box table {
  border-radius: 12px;
  border: 1px solid var(--color-line--table);
  box-shadow: var(--bxshadow-m);
  overflow: hidden;
} */

#acountList .content__inner {
  min-height: 340px;
  max-height: 680px;
  overflow-y: auto;
}
#acountList .content--table td {
  padding-top: 6px;
  padding-bottom: 6px;
}
#acountList .td__wrap {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 1px solid #f7f7fa;
  border-radius: 4px;
  background-color: #f7f7fa;
  cursor: pointer;
}
#acountList .td__wrap:hover {
  border: 1px solid #ededef;
  background-color: #f1f1f4;
  font-weight: 600;
}
#acountList .td__wrap::after {
  content: '';
  display: block;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.5px;
  height: 14px;
  background-color: #aaa;
}
#acountList td:first-child .td__wrap::after {
  display: none;
}

#acountInfo .input-info__list .input-info__item .item-name {
  min-width: 100px;
}

.input-info__item .input--user-team {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 8px;
}
.input--user-team select {
  padding: 0 34px 0 14px;
  border-radius: 8px;
  border: 1px solid #c4c7ca;
  background-color: #eaeaed;
  color: #717174;
}
