/*** COMMON ***/
.blind {
  display: block;
  position: absolute;
  top: -99999px;
  left: 0;
}
.hide {
  display: none !important;
}

/** COMMON -> BUTTON **/
.btn__wrap {
  display: flex;
  justify-content: center;
  gap: 14px;
}
.btn__wrap.bottom {
  margin-top: 28px;
}
.btn__wrap .btn {
  font-size: 0;
}
.btn__wrap .btn:first-child {
  margin-left: 0;
}
.btn {
  display: inline-block;
  border-radius: 6px;
  text-align: center;
  transition: 0.3s;
}
.btn > button {
  background-color: transparent;
  border: none;
}
.btn > a,
.btn > button {
  display: block;
  padding: 0 14px;
  line-height: 38px;
  font-size: 13px;
  word-break: keep-all;
  white-space: nowrap;
  cursor: pointer;
}
.btn:hover {
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.15);
}
.btn.ty01 {
  background-color: var(--color-primary);
}
.btn.ty01 > a,
.btn.ty01 > button {
  padding: 0 14px;
  color: #fff;
}
.btn.ty01:hover {
  background-color: var(--color-primary-hover);
}
.btn.ty02 {
  background-color: #e6e6e6;
}
.btn.ty02:hover {
  background-color: #dfdfdf;
}
.btn.ty-green {
  background-color: var(--color-pass);
}
.btn.ty-green:hover {
  background-color: var(--color-pass-hover);
}
.btn.ty-danger {
  background-color: var(--color-danger);
}
.btn.ty-danger:hover {
  background-color: var(--color-danger-hover);
}
.btn.ty-danger > a,
.btn.ty-danger > button,
.btn.ty-green > a,
.btn.ty-green > button {
  color: #fff;
}
.btn.ty-td {
  border: 1px solid #ddd;
  background-color: #fff;
}
.btn.ty-td > button,
.btn.ty-td > a {
  font-size: 12px;
  line-height: 26px;
  color: #616161;
  letter-spacing: -0.04rem;
}
.btn.ty-td:hover {
  border: 1px solid #d8d8da;
  background-color: #d8d8da;
}
.btn.wide > button {
  padding: 0 34px;
  line-height: 44px;
  font-size: 15px;
}

/** COMMON -> SELECT **/
.select__wrap {
  position: relative;
}
.select__wrap > .select-name {
  display: inline-block;
  margin-right: 6px;
}
select {
  cursor: pointer;
}
.select__wrap > select {
  display: inline-block;
  height: 38px;
  padding: 0 34px 0 10px;
  border-radius: 4px;
  border: 1px solid var(--color-line--input-default);
}
.select__wrap.table > select {
  padding: 0;
  border: none;
  background-color: transparent;
  line-height: 1;
  font-weight: 600;
  text-align: center;
}
.select__wrap > select + .select-icon {
  display: block;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background-image: url('../img/icon/icon-select-arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 9px;
}
.select__wrap > select:focus + .select-icon {
  /* background-color: #aaa; */
}
select option[value=''][disabled] {
  display: none;
}

/** INPUT -> radio **/
input[type='radio'] {
  appearance: none;
  position: relative;
  width: 14px;
  height: 14px;
  margin: 0;
  margin-bottom: 2px;
  margin-right: 2px;
  vertical-align: bottom;
  cursor: pointer;
}
input[type='radio']:focus {
  outline-width: 0px;
}
input[type='radio'] + .label-txt {
  color: #666;
  cursor: pointer;
}
input[type='radio']:checked + .label-txt {
  font-weight: 500;
  color: #313131;
}
input[type='radio']::before,
input[type='radio']::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input[type='radio']::before {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(210, 212, 223);
}
input[type='radio']::after {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
input[type='radio']:checked::after {
  background-color: var(--color-primary);
}

/** INPUT -> chkbox **/
input[type='checkbox'] {
  appearance: none;
  position: relative;
  width: 14px;
  height: 14px;
  margin: 0;
  margin-bottom: 2px;
  margin-right: 2px;
  vertical-align: bottom;
  cursor: pointer;
}
input[type='checkbox']:focus {
  outline-width: 0px;
}
input[type='checkbox'] + .label-txt {
  display: inline-block;
  color: #666;
  cursor: pointer;
}
input[type='checkbox']::before,
input[type='checkbox']::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input[type='checkbox']::before {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  background-color: rgb(210, 212, 223);
}
input[type='checkbox']::after {
  width: 8px;
  height: 8px;
  border-radius: 2px;
}
input[type='checkbox']:checked::after {
  background-color: var(--color-primary);
}

/** INPUT -> date **/
input[type='date'] {
  background-color: #fafafd;
  color: #888;
  vertical-align: middle;
  cursor: pointer;
}
input[type='date'] {
  border: 1px solid var(--color-line--input-default);
}
input[type='date']:hover,
input[type='date']:focus {
  border: 1px solid var(--color-primary-focus);
}
input[type='date']::-webkit-calendar-picker-indicator {
  border-radius: 2px;
  background-image: url('../img/icon/Icon-calendar.svg');
  color: #666;
}
.search-date input[type='date']:hover::-webkit-calendar-picker-indicator,
.search-date input[type='date']:focus::-webkit-calendar-picker-indicator {
  background-image: url('../img/icon/Icon-calendar-focus.svg');
}
.search-date {
  position: relative;
}
.search-date input[type='date'] {
  width: 220px;
  line-height: 30px;
  padding-right: 10px;
  border-radius: 6px;
  text-indent: 36px;
}
.search-date__wrap .date-title {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  font-size: 13px;
  color: #9a9a9a;
}
.search-date__wrap .search-date {
  display: inline-block;
}
.search-date__wrap .search-date.date--end {
  margin-left: 3px;
}
.search-date__wrap > .date--start {
  margin-right: 4px;
}

/** INPUT -> number **/
input[type='number'] {
  border: 1px solid var(--color-line--input-default);
  background-color: #fafafd;
  font-size: 13px;
  color: #888;
  vertical-align: middle;
  cursor: text;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/** COMMON -> PAGINATION **/
.paging__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 24px;
}
.paging__wrap .page-arrow {
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
}
.paging__wrap .page-arrow > button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  text-indent: -99999px;
  background-image: url('/public/img/icon/icon-arrow-next-default.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  transition: 0.2s;
}
.paging__wrap .page-arrow.prev > button {
  background-image: url('/public/img/icon/icon-arrow-prev-default.svg');
}
.paging__wrap .page-arrow:hover > button {
  box-shadow: var(--bxshadow-s);
}
.paging__wrap .page-arrow.prev:hover > button {
  background-image: url('/public/img/icon/icon-arrow-prev-hover.svg');
}
.paging__wrap .page-arrow.next:hover > button {
  background-image: url('/public/img/icon/icon-arrow-next-hover.svg');
}
.paging__wrap .page-arrow.disable > button {
  opacity: 0.5;
  cursor: default;
}
.paging__wrap .page-arrow.disable:hover > button {
  cursor: default;
}
.paging__wrap .page-arrow.prev.disable:hover > button {
  background-image: url('/public/img/icon/icon-arrow-prev-default.svg');
}
.paging__wrap .page-arrow.next.disable:hover > button {
  background-image: url('/public/img/icon/icon-arrow-next-default.svg');
}
.pagination__list {
  display: inline-block;
  text-align: center;
}
.pagination__list .page__item {
  display: inline-block;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-size: 14px;
  color: #aaa;
  cursor: pointer;
}
.pagination__list .page__item.nowOn {
  font-weight: 600;
  color: #555;
}
.pagination__list .page__item.nowOn::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 1px;
  background-color: #555;
}

/** ASIDE -> LOADING ANIMATION **/
#loading {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 600;
}
#loading.active {
  display: block;
}
.loading-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 240px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 14px;
  box-shadow: 1px 3px 12px rgba(88, 88, 88, 0.2);
}
.loading-bg .loading-title {
  margin-top: 60px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  z-index: 310;
}
.dots-flow:before {
  content: '';
  height: 16px;
  position: absolute;
  top: 52%;
  left: 50%;
  -webkit-transform: translate(-50%, -40px);
  transform: translate(-50%, -40px);
  width: 16px;
  border-radius: 100%;
  animation: dots-flow 0.85s infinite ease;
  -webkit-animation: dots-flow 0.85s infinite ease;
  z-index: 320;
}

@-webkit-keyframes dots-flow {
  0%,
  100% {
    -webkit-box-shadow: -26px 32px 0px 0 white, 0px 32px 0 0 white,
      26px 32px 0 0 white;
    box-shadow: -26px 32px 0px 0 white, 0px 32px 0 0 white, 26px 32px 0 0 white;
  }
  35% {
    -webkit-box-shadow: -26px 32px 0 4px #696cff, 0px 32px 0 0 white,
      26px 32px 0 0 white;
    box-shadow: -26px 32px 0 4px #696cff, 0px 32px 0 0 white,
      26px 32px 0 0 white;
  }
  50% {
    -webkit-box-shadow: -26px 32px 0 0 white, 0px 32px 0 4px #696cff,
      26px 32px 0 0 white;
    box-shadow: -26px 32px 0 0 white, 0px 32px 0 4px #696cff,
      26px 32px 0 0 white;
  }
  65% {
    -webkit-box-shadow: -26px 32px 0px 0 white, 0px 32px 0 0 white,
      26px 32px 0 4px #696cff;
    box-shadow: -26px 32px 0px 0 white, 0px 32px 0 0 white,
      26px 32px 0 4px #696cff;
  }
}

@keyframes dots-flow {
  0%,
  100% {
    -webkit-box-shadow: -26px 32px 0px 0 white, 0px 32px 0 0 white,
      26px 32px 0 0 white;
    box-shadow: -26px 32px 0px 0 white, 0px 32px 0 0 white, 26px 32px 0 0 white;
  }
  35% {
    -webkit-box-shadow: -26px 32px 0 4px #696cff, 0px 32px 0 0 white,
      26px 32px 0 0 white;
    box-shadow: -26px 32px 0 4px #696cff, 0px 32px 0 0 white,
      26px 32px 0 0 white;
  }
  50% {
    -webkit-box-shadow: -26px 32px 0 0 white, 0px 32px 0 4px #696cff,
      26px 32px 0 0 white;
    box-shadow: -26px 32px 0 0 white, 0px 32px 0 4px #696cff,
      26px 32px 0 0 white;
  }
  65% {
    -webkit-box-shadow: -26px 32px 0px 0 white, 0px 32px 0 0 white,
      26px 32px 0 4px #696cff;
    box-shadow: -26px 32px 0px 0 white, 0px 32px 0 0 white,
      26px 32px 0 4px #696cff;
  }
}
